/***********************
- CSS RESET
***********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

svg {
  width: 100vw;
  height: 100vh;
}
