/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/***********************
- CSS RESET
***********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  box-sizing: border-box;
  overflow: hidden;
}

/* Styling */

svg {
  width: 100vw;
  height: 100vh;
}
